MyMoneyTrack/MoneyTrackerService/src/java/META-INF/MoneyTrackerService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://moneytracker.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://moneytracker.com/" name="MoneyTrackerService">
<types>
<xsd:schema>
<xsd:import namespace="http://moneytracker.com/" schemaLocation="http://localhost:8080/MoneyTracker/MoneyTrackerService?xsd=1"/>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="InvalidFileFormatException">
<part name="fault" element="tns:InvalidFileFormatException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="RegErrorException">
<part name="fault" element="tns:RegErrorException"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="LoginErrorException">
<part name="fault" element="tns:LoginErrorException"/>
</message>
<message name="getUserBylogin">
<part name="parameters" element="tns:getUserBylogin"/>
</message>
<message name="getUserByloginResponse">
<part name="parameters" element="tns:getUserByloginResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getUserByEmail">
<part name="parameters" element="tns:getUserByEmail"/>
</message>
<message name="getUserByEmailResponse">
<part name="parameters" element="tns:getUserByEmailResponse"/>
</message>
<message name="deleteUserById">
<part name="parameters" element="tns:deleteUserById"/>
</message>
<message name="deleteUserByIdResponse">
<part name="parameters" element="tns:deleteUserByIdResponse"/>
</message>
<message name="deleteUserByLogin">
<part name="parameters" element="tns:deleteUserByLogin"/>
</message>
<message name="deleteUserByLoginResponse">
<part name="parameters" element="tns:deleteUserByLoginResponse"/>
</message>
<message name="createNewProduct">
<part name="parameters" element="tns:createNewProduct"/>
</message>
<message name="createNewProductResponse">
<part name="parameters" element="tns:createNewProductResponse"/>
</message>
<message name="getProductByName">
<part name="parameters" element="tns:getProductByName"/>
</message>
<message name="getProductByNameResponse">
<part name="parameters" element="tns:getProductByNameResponse"/>
</message>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="getProductByPrice">
<part name="parameters" element="tns:getProductByPrice"/>
</message>
<message name="getProductByPriceResponse">
<part name="parameters" element="tns:getProductByPriceResponse"/>
</message>
<message name="getProductWithMaxPrice">
<part name="parameters" element="tns:getProductWithMaxPrice"/>
</message>
<message name="getProductWithMaxPriceResponse">
<part name="parameters" element="tns:getProductWithMaxPriceResponse"/>
</message>
<message name="getProductWithMinPrice">
<part name="parameters" element="tns:getProductWithMinPrice"/>
</message>
<message name="getProductWithMinPriceResponse">
<part name="parameters" element="tns:getProductWithMinPriceResponse"/>
</message>
<message name="deleteProductById">
<part name="parameters" element="tns:deleteProductById"/>
</message>
<message name="deleteProductByIdResponse">
<part name="parameters" element="tns:deleteProductByIdResponse"/>
</message>
<message name="deleteProductByName">
<part name="parameters" element="tns:deleteProductByName"/>
</message>
<message name="deleteProductByNameResponse">
<part name="parameters" element="tns:deleteProductByNameResponse"/>
</message>
<message name="updateProductDescriptionByName">
<part name="parameters" element="tns:updateProductDescriptionByName"/>
</message>
<message name="updateProductDescriptionByNameResponse">
<part name="parameters" element="tns:updateProductDescriptionByNameResponse"/>
</message>
<message name="updateProductDescriptionById">
<part name="parameters" element="tns:updateProductDescriptionById"/>
</message>
<message name="updateProductDescriptionByIdResponse">
<part name="parameters" element="tns:updateProductDescriptionByIdResponse"/>
</message>
<message name="updateProductNameById">
<part name="parameters" element="tns:updateProductNameById"/>
</message>
<message name="updateProductNameByIdResponse">
<part name="parameters" element="tns:updateProductNameByIdResponse"/>
</message>
<message name="updateProductPriceById">
<part name="parameters" element="tns:updateProductPriceById"/>
</message>
<message name="updateProductPriceByIdResponse">
<part name="parameters" element="tns:updateProductPriceByIdResponse"/>
</message>
<message name="updateProductPriceByName">
<part name="parameters" element="tns:updateProductPriceByName"/>
</message>
<message name="updateProductPriceByNameResponse">
<part name="parameters" element="tns:updateProductPriceByNameResponse"/>
</message>
<message name="createNewUserIncome">
<part name="parameters" element="tns:createNewUserIncome"/>
</message>
<message name="createNewUserIncomeResponse">
<part name="parameters" element="tns:createNewUserIncomeResponse"/>
</message>
<message name="getUserIncomeById">
<part name="parameters" element="tns:getUserIncomeById"/>
</message>
<message name="getUserIncomeByIdResponse">
<part name="parameters" element="tns:getUserIncomeByIdResponse"/>
</message>
<message name="getUserIncomesByUser">
<part name="parameters" element="tns:getUserIncomesByUser"/>
</message>
<message name="getUserIncomesByUserResponse">
<part name="parameters" element="tns:getUserIncomesByUserResponse"/>
</message>
<message name="getUserIncomesByAllParamsWithoutId">
<part name="parameters" element="tns:getUserIncomesByAllParamsWithoutId"/>
</message>
<message name="getUserIncomesByAllParamsWithoutIdResponse">
<part name="parameters" element="tns:getUserIncomesByAllParamsWithoutIdResponse"/>
</message>
<message name="getAllUserIncomesByDatetime">
<part name="parameters" element="tns:getAllUserIncomesByDatetime"/>
</message>
<message name="getAllUserIncomesByDatetimeResponse">
<part name="parameters" element="tns:getAllUserIncomesByDatetimeResponse"/>
</message>
<message name="getAllUserIncomesByProduct">
<part name="parameters" element="tns:getAllUserIncomesByProduct"/>
</message>
<message name="getAllUserIncomesByProductResponse">
<part name="parameters" element="tns:getAllUserIncomesByProductResponse"/>
</message>
<message name="getAllUserIncomesByYear">
<part name="parameters" element="tns:getAllUserIncomesByYear"/>
</message>
<message name="getAllUserIncomesByYearResponse">
<part name="parameters" element="tns:getAllUserIncomesByYearResponse"/>
</message>
<message name="getAllUserIncomesByMounth">
<part name="parameters" element="tns:getAllUserIncomesByMounth"/>
</message>
<message name="getAllUserIncomesByMounthResponse">
<part name="parameters" element="tns:getAllUserIncomesByMounthResponse"/>
</message>
<message name="getAllUserIncomesByDay">
<part name="parameters" element="tns:getAllUserIncomesByDay"/>
</message>
<message name="getAllUserIncomesByDayResponse">
<part name="parameters" element="tns:getAllUserIncomesByDayResponse"/>
</message>
<message name="getAllUserIncomesByHour">
<part name="parameters" element="tns:getAllUserIncomesByHour"/>
</message>
<message name="getAllUserIncomesByHourResponse">
<part name="parameters" element="tns:getAllUserIncomesByHourResponse"/>
</message>
<message name="getAllUserIncomesByMinute">
<part name="parameters" element="tns:getAllUserIncomesByMinute"/>
</message>
<message name="getAllUserIncomesByMinuteResponse">
<part name="parameters" element="tns:getAllUserIncomesByMinuteResponse"/>
</message>
<message name="getAllUserIncomesByUserAndDatetime">
<part name="parameters" element="tns:getAllUserIncomesByUserAndDatetime"/>
</message>
<message name="getAllUserIncomesByUserAndDatetimeResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndDatetimeResponse"/>
</message>
<message name="getAllUserIncomesByUserAndYear">
<part name="parameters" element="tns:getAllUserIncomesByUserAndYear"/>
</message>
<message name="getAllUserIncomesByUserAndYearResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndYearResponse"/>
</message>
<message name="getAllUserIncomesByUserAndMounth">
<part name="parameters" element="tns:getAllUserIncomesByUserAndMounth"/>
</message>
<message name="getAllUserIncomesByUserAndMounthResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndMounthResponse"/>
</message>
<message name="getAllUserIncomesByUserAndDay">
<part name="parameters" element="tns:getAllUserIncomesByUserAndDay"/>
</message>
<message name="getAllUserIncomesByUserAndDayResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndDayResponse"/>
</message>
<message name="getAllUserIncomesByUserAndHour">
<part name="parameters" element="tns:getAllUserIncomesByUserAndHour"/>
</message>
<message name="getAllUserIncomesByUserAndHourResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndHourResponse"/>
</message>
<message name="getAllUserIncomesByUserAndMinute">
<part name="parameters" element="tns:getAllUserIncomesByUserAndMinute"/>
</message>
<message name="getAllUserIncomesByUserAndMinuteResponse">
<part name="parameters" element="tns:getAllUserIncomesByUserAndMinuteResponse"/>
</message>
<message name="updateUserIncomeByAllParams">
<part name="parameters" element="tns:updateUserIncomeByAllParams"/>
</message>
<message name="updateUserIncomeByAllParamsResponse">
<part name="parameters" element="tns:updateUserIncomeByAllParamsResponse"/>
</message>
<message name="updateUserIncomeProductById">
<part name="parameters" element="tns:updateUserIncomeProductById"/>
</message>
<message name="updateUserIncomeProductByIdResponse">
<part name="parameters" element="tns:updateUserIncomeProductByIdResponse"/>
</message>
<message name="updateUserIncomeProductCountById">
<part name="parameters" element="tns:updateUserIncomeProductCountById"/>
</message>
<message name="updateUserIncomeProductCountByIdResponse">
<part name="parameters" element="tns:updateUserIncomeProductCountByIdResponse"/>
</message>
<message name="createNewUserOutlay">
<part name="parameters" element="tns:createNewUserOutlay"/>
</message>
<message name="createNewUserOutlayResponse">
<part name="parameters" element="tns:createNewUserOutlayResponse"/>
</message>
<message name="getUserOutlayById">
<part name="parameters" element="tns:getUserOutlayById"/>
</message>
<message name="getUserOutlayByIdResponse">
<part name="parameters" element="tns:getUserOutlayByIdResponse"/>
</message>
<message name="getUserOutlaysByUser">
<part name="parameters" element="tns:getUserOutlaysByUser"/>
</message>
<message name="getUserOutlaysByUserResponse">
<part name="parameters" element="tns:getUserOutlaysByUserResponse"/>
</message>
<message name="getUserOutlaysByAllParamsWithoutId">
<part name="parameters" element="tns:getUserOutlaysByAllParamsWithoutId"/>
</message>
<message name="getUserOutlaysByAllParamsWithoutIdResponse">
<part name="parameters" element="tns:getUserOutlaysByAllParamsWithoutIdResponse"/>
</message>
<message name="getAllUserOutlaysByDatetime">
<part name="parameters" element="tns:getAllUserOutlaysByDatetime"/>
</message>
<message name="getAllUserOutlaysByDatetimeResponse">
<part name="parameters" element="tns:getAllUserOutlaysByDatetimeResponse"/>
</message>
<message name="getAllUserOutlaysByProduct">
<part name="parameters" element="tns:getAllUserOutlaysByProduct"/>
</message>
<message name="getAllUserOutlaysByProductResponse">
<part name="parameters" element="tns:getAllUserOutlaysByProductResponse"/>
</message>
<message name="getAllUserOutlaysByYear">
<part name="parameters" element="tns:getAllUserOutlaysByYear"/>
</message>
<message name="getAllUserOutlaysByYearResponse">
<part name="parameters" element="tns:getAllUserOutlaysByYearResponse"/>
</message>
<message name="getAllUserOutlaysByMounth">
<part name="parameters" element="tns:getAllUserOutlaysByMounth"/>
</message>
<message name="getAllUserOutlaysByMounthResponse">
<part name="parameters" element="tns:getAllUserOutlaysByMounthResponse"/>
</message>
<message name="getAllUserOutlaysByDay">
<part name="parameters" element="tns:getAllUserOutlaysByDay"/>
</message>
<message name="getAllUserOutlaysByDayResponse">
<part name="parameters" element="tns:getAllUserOutlaysByDayResponse"/>
</message>
<message name="getAllUserOutlaysByHour">
<part name="parameters" element="tns:getAllUserOutlaysByHour"/>
</message>
<message name="getAllUserOutlaysByHourResponse">
<part name="parameters" element="tns:getAllUserOutlaysByHourResponse"/>
</message>
<message name="getAllUserOutlaysByMinute">
<part name="parameters" element="tns:getAllUserOutlaysByMinute"/>
</message>
<message name="getAllUserOutlaysByMinuteResponse">
<part name="parameters" element="tns:getAllUserOutlaysByMinuteResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndDatetime">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndDatetime"/>
</message>
<message name="getAllUserOutlaysByUserAndDatetimeResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndDatetimeResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndYear">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndYear"/>
</message>
<message name="getAllUserOutlaysByUserAndYearResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndYearResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndMounth">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndMounth"/>
</message>
<message name="getAllUserOutlaysByUserAndMounthResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndMounthResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndDay">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndDay"/>
</message>
<message name="getAllUserOutlaysByUserAndDayResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndDayResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndHour">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndHour"/>
</message>
<message name="getAllUserOutlaysByUserAndHourResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndHourResponse"/>
</message>
<message name="getAllUserOutlaysByUserAndMinute">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndMinute"/>
</message>
<message name="getAllUserOutlaysByUserAndMinuteResponse">
<part name="parameters" element="tns:getAllUserOutlaysByUserAndMinuteResponse"/>
</message>
<message name="updateUserOutlayByAllParams">
<part name="parameters" element="tns:updateUserOutlayByAllParams"/>
</message>
<message name="updateUserOutlayByAllParamsResponse">
<part name="parameters" element="tns:updateUserOutlayByAllParamsResponse"/>
</message>
<message name="updateUserOutlayProductById">
<part name="parameters" element="tns:updateUserOutlayProductById"/>
</message>
<message name="updateUserOutlayProductByIdResponse">
<part name="parameters" element="tns:updateUserOutlayProductByIdResponse"/>
</message>
<message name="updateUserOutlayProductCountById">
<part name="parameters" element="tns:updateUserOutlayProductCountById"/>
</message>
<message name="updateUserOutlayProductCountByIdResponse">
<part name="parameters" element="tns:updateUserOutlayProductCountByIdResponse"/>
</message>
<message name="createNewUserBudget">
<part name="parameters" element="tns:createNewUserBudget"/>
</message>
<message name="createNewUserBudgetResponse">
<part name="parameters" element="tns:createNewUserBudgetResponse"/>
</message>
<message name="getUserBudgetByAllParams">
<part name="parameters" element="tns:getUserBudgetByAllParams"/>
</message>
<message name="getUserBudgetByAllParamsResponse">
<part name="parameters" element="tns:getUserBudgetByAllParamsResponse"/>
</message>
<message name="getAllUserBudgetsByOwner">
<part name="parameters" element="tns:getAllUserBudgetsByOwner"/>
</message>
<message name="getAllUserBudgetsByOwnerResponse">
<part name="parameters" element="tns:getAllUserBudgetsByOwnerResponse"/>
</message>
<message name="getUserBudgetById">
<part name="parameters" element="tns:getUserBudgetById"/>
</message>
<message name="getUserBudgetByIdResponse">
<part name="parameters" element="tns:getUserBudgetByIdResponse"/>
</message>
<message name="getUserBudgetByOwnerAndName">
<part name="parameters" element="tns:getUserBudgetByOwnerAndName"/>
</message>
<message name="getUserBudgetByOwnerAndNameResponse">
<part name="parameters" element="tns:getUserBudgetByOwnerAndNameResponse"/>
</message>
<message name="getAllUserBudgetsByDescription">
<part name="parameters" element="tns:getAllUserBudgetsByDescription"/>
</message>
<message name="getAllUserBudgetsByDescriptionResponse">
<part name="parameters" element="tns:getAllUserBudgetsByDescriptionResponse"/>
</message>
<message name="updateUserBudgetAmount">
<part name="parameters" element="tns:updateUserBudgetAmount"/>
</message>
<message name="updateUserBudgetAmountResponse">
<part name="parameters" element="tns:updateUserBudgetAmountResponse"/>
</message>
<portType name="MoneyTracker">
<operation name="registerUser">
<input wsam:Action="http://moneytracker.com/MoneyTracker/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/registerUserResponse" message="tns:registerUserResponse"/>
<fault message="tns:InvalidFileFormatException" name="InvalidFileFormatException" wsam:Action="http://moneytracker.com/MoneyTracker/registerUser/Fault/InvalidFileFormatException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://moneytracker.com/MoneyTracker/registerUser/Fault/IOException"/>
<fault message="tns:RegErrorException" name="RegErrorException" wsam:Action="http://moneytracker.com/MoneyTracker/registerUser/Fault/RegErrorException"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://moneytracker.com/MoneyTracker/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/loginUserResponse" message="tns:loginUserResponse"/>
<fault message="tns:LoginErrorException" name="LoginErrorException" wsam:Action="http://moneytracker.com/MoneyTracker/loginUser/Fault/LoginErrorException"/>
</operation>
<operation name="getUserBylogin">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserByloginRequest" message="tns:getUserBylogin"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserByloginResponse" message="tns:getUserByloginResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
<operation name="deleteUserById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/deleteUserByIdRequest" message="tns:deleteUserById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/deleteUserByIdResponse" message="tns:deleteUserByIdResponse"/>
</operation>
<operation name="deleteUserByLogin">
<input wsam:Action="http://moneytracker.com/MoneyTracker/deleteUserByLoginRequest" message="tns:deleteUserByLogin"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/deleteUserByLoginResponse" message="tns:deleteUserByLoginResponse"/>
</operation>
<operation name="createNewProduct">
<input wsam:Action="http://moneytracker.com/MoneyTracker/createNewProductRequest" message="tns:createNewProduct"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/createNewProductResponse" message="tns:createNewProductResponse"/>
</operation>
<operation name="getProductByName">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getProductByNameRequest" message="tns:getProductByName"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getProductByNameResponse" message="tns:getProductByNameResponse"/>
</operation>
<operation name="getProductById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="getProductByPrice">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getProductByPriceRequest" message="tns:getProductByPrice"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getProductByPriceResponse" message="tns:getProductByPriceResponse"/>
</operation>
<operation name="getProductWithMaxPrice">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getProductWithMaxPriceRequest" message="tns:getProductWithMaxPrice"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getProductWithMaxPriceResponse" message="tns:getProductWithMaxPriceResponse"/>
</operation>
<operation name="getProductWithMinPrice">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getProductWithMinPriceRequest" message="tns:getProductWithMinPrice"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getProductWithMinPriceResponse" message="tns:getProductWithMinPriceResponse"/>
</operation>
<operation name="deleteProductById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/deleteProductByIdRequest" message="tns:deleteProductById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/deleteProductByIdResponse" message="tns:deleteProductByIdResponse"/>
</operation>
<operation name="deleteProductByName">
<input wsam:Action="http://moneytracker.com/MoneyTracker/deleteProductByNameRequest" message="tns:deleteProductByName"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/deleteProductByNameResponse" message="tns:deleteProductByNameResponse"/>
</operation>
<operation name="updateProductDescriptionByName">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateProductDescriptionByNameRequest" message="tns:updateProductDescriptionByName"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateProductDescriptionByNameResponse" message="tns:updateProductDescriptionByNameResponse"/>
</operation>
<operation name="updateProductDescriptionById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateProductDescriptionByIdRequest" message="tns:updateProductDescriptionById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateProductDescriptionByIdResponse" message="tns:updateProductDescriptionByIdResponse"/>
</operation>
<operation name="updateProductNameById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateProductNameByIdRequest" message="tns:updateProductNameById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateProductNameByIdResponse" message="tns:updateProductNameByIdResponse"/>
</operation>
<operation name="updateProductPriceById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateProductPriceByIdRequest" message="tns:updateProductPriceById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateProductPriceByIdResponse" message="tns:updateProductPriceByIdResponse"/>
</operation>
<operation name="updateProductPriceByName">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateProductPriceByNameRequest" message="tns:updateProductPriceByName"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateProductPriceByNameResponse" message="tns:updateProductPriceByNameResponse"/>
</operation>
<operation name="createNewUserIncome">
<input wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserIncomeRequest" message="tns:createNewUserIncome"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserIncomeResponse" message="tns:createNewUserIncomeResponse"/>
</operation>
<operation name="getUserIncomeById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomeByIdRequest" message="tns:getUserIncomeById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomeByIdResponse" message="tns:getUserIncomeByIdResponse"/>
</operation>
<operation name="getUserIncomesByUser">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomesByUserRequest" message="tns:getUserIncomesByUser"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomesByUserResponse" message="tns:getUserIncomesByUserResponse"/>
</operation>
<operation name="getUserIncomesByAllParamsWithoutId">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomesByAllParamsWithoutIdRequest" message="tns:getUserIncomesByAllParamsWithoutId"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserIncomesByAllParamsWithoutIdResponse" message="tns:getUserIncomesByAllParamsWithoutIdResponse"/>
</operation>
<operation name="getAllUserIncomesByDatetime">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByDatetimeRequest" message="tns:getAllUserIncomesByDatetime"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByDatetimeResponse" message="tns:getAllUserIncomesByDatetimeResponse"/>
</operation>
<operation name="getAllUserIncomesByProduct">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByProductRequest" message="tns:getAllUserIncomesByProduct"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByProductResponse" message="tns:getAllUserIncomesByProductResponse"/>
</operation>
<operation name="getAllUserIncomesByYear">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByYearRequest" message="tns:getAllUserIncomesByYear"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByYearResponse" message="tns:getAllUserIncomesByYearResponse"/>
</operation>
<operation name="getAllUserIncomesByMounth">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByMounthRequest" message="tns:getAllUserIncomesByMounth"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByMounthResponse" message="tns:getAllUserIncomesByMounthResponse"/>
</operation>
<operation name="getAllUserIncomesByDay">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByDayRequest" message="tns:getAllUserIncomesByDay"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByDayResponse" message="tns:getAllUserIncomesByDayResponse"/>
</operation>
<operation name="getAllUserIncomesByHour">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByHourRequest" message="tns:getAllUserIncomesByHour"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByHourResponse" message="tns:getAllUserIncomesByHourResponse"/>
</operation>
<operation name="getAllUserIncomesByMinute">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByMinuteRequest" message="tns:getAllUserIncomesByMinute"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByMinuteResponse" message="tns:getAllUserIncomesByMinuteResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndDatetime">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndDatetimeRequest" message="tns:getAllUserIncomesByUserAndDatetime"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndDatetimeResponse" message="tns:getAllUserIncomesByUserAndDatetimeResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndYear">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndYearRequest" message="tns:getAllUserIncomesByUserAndYear"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndYearResponse" message="tns:getAllUserIncomesByUserAndYearResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndMounth">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndMounthRequest" message="tns:getAllUserIncomesByUserAndMounth"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndMounthResponse" message="tns:getAllUserIncomesByUserAndMounthResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndDay">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndDayRequest" message="tns:getAllUserIncomesByUserAndDay"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndDayResponse" message="tns:getAllUserIncomesByUserAndDayResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndHour">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndHourRequest" message="tns:getAllUserIncomesByUserAndHour"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndHourResponse" message="tns:getAllUserIncomesByUserAndHourResponse"/>
</operation>
<operation name="getAllUserIncomesByUserAndMinute">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndMinuteRequest" message="tns:getAllUserIncomesByUserAndMinute"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserIncomesByUserAndMinuteResponse" message="tns:getAllUserIncomesByUserAndMinuteResponse"/>
</operation>
<operation name="updateUserIncomeByAllParams">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeByAllParamsRequest" message="tns:updateUserIncomeByAllParams"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeByAllParamsResponse" message="tns:updateUserIncomeByAllParamsResponse"/>
</operation>
<operation name="updateUserIncomeProductById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeProductByIdRequest" message="tns:updateUserIncomeProductById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeProductByIdResponse" message="tns:updateUserIncomeProductByIdResponse"/>
</operation>
<operation name="updateUserIncomeProductCountById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeProductCountByIdRequest" message="tns:updateUserIncomeProductCountById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserIncomeProductCountByIdResponse" message="tns:updateUserIncomeProductCountByIdResponse"/>
</operation>
<operation name="createNewUserOutlay">
<input wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserOutlayRequest" message="tns:createNewUserOutlay"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserOutlayResponse" message="tns:createNewUserOutlayResponse"/>
</operation>
<operation name="getUserOutlayById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlayByIdRequest" message="tns:getUserOutlayById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlayByIdResponse" message="tns:getUserOutlayByIdResponse"/>
</operation>
<operation name="getUserOutlaysByUser">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlaysByUserRequest" message="tns:getUserOutlaysByUser"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlaysByUserResponse" message="tns:getUserOutlaysByUserResponse"/>
</operation>
<operation name="getUserOutlaysByAllParamsWithoutId">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlaysByAllParamsWithoutIdRequest" message="tns:getUserOutlaysByAllParamsWithoutId"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserOutlaysByAllParamsWithoutIdResponse" message="tns:getUserOutlaysByAllParamsWithoutIdResponse"/>
</operation>
<operation name="getAllUserOutlaysByDatetime">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByDatetimeRequest" message="tns:getAllUserOutlaysByDatetime"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByDatetimeResponse" message="tns:getAllUserOutlaysByDatetimeResponse"/>
</operation>
<operation name="getAllUserOutlaysByProduct">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByProductRequest" message="tns:getAllUserOutlaysByProduct"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByProductResponse" message="tns:getAllUserOutlaysByProductResponse"/>
</operation>
<operation name="getAllUserOutlaysByYear">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByYearRequest" message="tns:getAllUserOutlaysByYear"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByYearResponse" message="tns:getAllUserOutlaysByYearResponse"/>
</operation>
<operation name="getAllUserOutlaysByMounth">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByMounthRequest" message="tns:getAllUserOutlaysByMounth"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByMounthResponse" message="tns:getAllUserOutlaysByMounthResponse"/>
</operation>
<operation name="getAllUserOutlaysByDay">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByDayRequest" message="tns:getAllUserOutlaysByDay"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByDayResponse" message="tns:getAllUserOutlaysByDayResponse"/>
</operation>
<operation name="getAllUserOutlaysByHour">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByHourRequest" message="tns:getAllUserOutlaysByHour"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByHourResponse" message="tns:getAllUserOutlaysByHourResponse"/>
</operation>
<operation name="getAllUserOutlaysByMinute">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByMinuteRequest" message="tns:getAllUserOutlaysByMinute"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByMinuteResponse" message="tns:getAllUserOutlaysByMinuteResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndDatetime">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndDatetimeRequest" message="tns:getAllUserOutlaysByUserAndDatetime"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndDatetimeResponse" message="tns:getAllUserOutlaysByUserAndDatetimeResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndYear">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndYearRequest" message="tns:getAllUserOutlaysByUserAndYear"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndYearResponse" message="tns:getAllUserOutlaysByUserAndYearResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndMounth">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndMounthRequest" message="tns:getAllUserOutlaysByUserAndMounth"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndMounthResponse" message="tns:getAllUserOutlaysByUserAndMounthResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndDay">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndDayRequest" message="tns:getAllUserOutlaysByUserAndDay"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndDayResponse" message="tns:getAllUserOutlaysByUserAndDayResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndHour">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndHourRequest" message="tns:getAllUserOutlaysByUserAndHour"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndHourResponse" message="tns:getAllUserOutlaysByUserAndHourResponse"/>
</operation>
<operation name="getAllUserOutlaysByUserAndMinute">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndMinuteRequest" message="tns:getAllUserOutlaysByUserAndMinute"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserOutlaysByUserAndMinuteResponse" message="tns:getAllUserOutlaysByUserAndMinuteResponse"/>
</operation>
<operation name="updateUserOutlayByAllParams">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayByAllParamsRequest" message="tns:updateUserOutlayByAllParams"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayByAllParamsResponse" message="tns:updateUserOutlayByAllParamsResponse"/>
</operation>
<operation name="updateUserOutlayProductById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayProductByIdRequest" message="tns:updateUserOutlayProductById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayProductByIdResponse" message="tns:updateUserOutlayProductByIdResponse"/>
</operation>
<operation name="updateUserOutlayProductCountById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayProductCountByIdRequest" message="tns:updateUserOutlayProductCountById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserOutlayProductCountByIdResponse" message="tns:updateUserOutlayProductCountByIdResponse"/>
</operation>
<operation name="createNewUserBudget">
<input wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserBudgetRequest" message="tns:createNewUserBudget"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/createNewUserBudgetResponse" message="tns:createNewUserBudgetResponse"/>
</operation>
<operation name="getUserBudgetByAllParams">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByAllParamsRequest" message="tns:getUserBudgetByAllParams"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByAllParamsResponse" message="tns:getUserBudgetByAllParamsResponse"/>
</operation>
<operation name="getAllUserBudgetsByOwner">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserBudgetsByOwnerRequest" message="tns:getAllUserBudgetsByOwner"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserBudgetsByOwnerResponse" message="tns:getAllUserBudgetsByOwnerResponse"/>
</operation>
<operation name="getUserBudgetById">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByIdRequest" message="tns:getUserBudgetById"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByIdResponse" message="tns:getUserBudgetByIdResponse"/>
</operation>
<operation name="getUserBudgetByOwnerAndName">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByOwnerAndNameRequest" message="tns:getUserBudgetByOwnerAndName"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getUserBudgetByOwnerAndNameResponse" message="tns:getUserBudgetByOwnerAndNameResponse"/>
</operation>
<operation name="getAllUserBudgetsByDescription">
<input wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserBudgetsByDescriptionRequest" message="tns:getAllUserBudgetsByDescription"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/getAllUserBudgetsByDescriptionResponse" message="tns:getAllUserBudgetsByDescriptionResponse"/>
</operation>
<operation name="updateUserBudgetAmount">
<input wsam:Action="http://moneytracker.com/MoneyTracker/updateUserBudgetAmountRequest" message="tns:updateUserBudgetAmount"/>
<output wsam:Action="http://moneytracker.com/MoneyTracker/updateUserBudgetAmountResponse" message="tns:updateUserBudgetAmountResponse"/>
</operation>
</portType>
<binding name="MoneyTrackerPortBinding" type="tns:MoneyTracker">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidFileFormatException">
<soap:fault name="InvalidFileFormatException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="RegErrorException">
<soap:fault name="RegErrorException" use="literal"/>
</fault>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoginErrorException">
<soap:fault name="LoginErrorException" use="literal"/>
</fault>
</operation>
<operation name="getUserBylogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductByPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductWithMaxPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductWithMinPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProductByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductDescriptionByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductDescriptionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductNameById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductPriceById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductPriceByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewUserIncome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserIncomeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserIncomesByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserIncomesByAllParamsWithoutId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByDatetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByMounth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByHour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByMinute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndDatetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndMounth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndHour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserIncomesByUserAndMinute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserIncomeByAllParams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserIncomeProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserIncomeProductCountById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewUserOutlay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserOutlayById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserOutlaysByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserOutlaysByAllParamsWithoutId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByDatetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByMounth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByHour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByMinute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndDatetime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndMounth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndHour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserOutlaysByUserAndMinute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserOutlayByAllParams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserOutlayProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserOutlayProductCountById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewUserBudget">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserBudgetByAllParams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserBudgetsByOwner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserBudgetById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserBudgetByOwnerAndName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserBudgetsByDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserBudgetAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MoneyTrackerService">
<port name="MoneyTrackerPort" binding="tns:MoneyTrackerPortBinding">
<soap:address location="http://localhost:8080/MoneyTracker/MoneyTrackerService"/>
</port>
</service>
</definitions>